<%- include('partials/header') %>
<h1>colab</h1>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <!-- <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a> -->
<%- include('partials/footer') %>
